# Folder spesifikasi
/spesifikasi/
/doc/spesifikasi/

# Node / Vite
/node_modules/
/dist/
/coverage/
.vite/

# TypeScript
*.tsbuildinfo

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# LaTeX build artifacts in doc/
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.fdb_latexmk
/doc/*.fls
/doc/*.log
/doc/*.out
/doc/*.synctex.gz
/doc/*.toc
/doc/*.pdf
